html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* slider kategori css */
.kategori-slider-container {
    position: relative;
    width: 100%;
}

.kategori-slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px 0;
}

.kategori-slider::-webkit-scrollbar {
        display: none;
}

.kategori-item {
    flex: 0 0 auto;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.kategori-item img {
        width: 150px;
        height: 150px;
        border-radius: 15px;
        object-fit: cover;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.kategori-item p {
        margin-top: 10px;
        font-weight: bold;
        font-size: 16px;
        color: #ff0066;
 }

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 10;
}

.left-btn {
    left: -10px;
}

.right-btn {
    right: -10px;
}

.slider-btn:hover {
    background-color: #ff0066;
    color: white;
}

.restoran-img {
    width: 100%;
    height: 220px;
    object-fit: contain; /* LOGOLAR ÝÇÝN MÜKEMMEL ÇÖZÜM */
    background-color: #fff; /* Arka plan temiz beyaz */
    padding: 15px; /* Logonun nefes almasý için boþluk */
    border-bottom: 1px solid #eee;
}

.restoran-card {
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.restoran-card:hover {
        transform: scale(1.03); /* Hafif büyüme */
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); /* Güçlü gölge */
}

/*Favoriler için*/
.fav-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    border: none;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

    .fav-btn:hover {
        background-color: #ff2e63;
        color: white;
    }

.restoran-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .restoran-card:hover {
        transform: translateY(-4px);
        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    }
