USE [master]
GO

IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'YemekSepetiProje')
BEGIN
    CREATE DATABASE [YemekSepetiProje];
END
GO



USE [YemekSepetiProje]
GO
/****** Object:  Table [dbo].[FavoriRestoranlar]    Script Date: 27.12.2025 11:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriRestoranlar](
	[FavoriID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[RestoranID] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_FavoriRestoranlar] PRIMARY KEY CLUSTERED 
(
	[FavoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 27.12.2025 11:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [nvarchar](100) NOT NULL,
	[KategoriResimUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 27.12.2025 11:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](30) NOT NULL,
	[Soyad] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](500) NOT NULL,
	[Adres] [nvarchar](250) NULL,
	[Telefon] [nvarchar](15) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[RolID] [int] NOT NULL,
 CONSTRAINT [PK_Kullanicilar] PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restoran]    Script Date: 27.12.2025 11:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restoran](
	[RestoranID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriID] [int] NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[RestoranAd] [nvarchar](50) NOT NULL,
	[Adres] [nvarchar](250) NOT NULL,
	[Telefon] [nvarchar](20) NULL,
	[OnayliMi] [bit] NOT NULL,
	[Puan] [decimal](3, 2) NULL,
	[AktifMi] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RestoranResimUrl] [nvarchar](max) NULL,
	[MinSiparisTutar] [decimal](18, 2) NOT NULL,
	[OrtalamaSure] [int] NOT NULL,
 CONSTRAINT [PK_Restoran] PRIMARY KEY CLUSTERED 
(
	[RestoranID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roller]    Script Date: 27.12.2025 11:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roller](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[RolAd] [nvarchar](15) NULL,
 CONSTRAINT [PK_Roller] PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siparis]    Script Date: 27.12.2025 11:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparis](
	[SiparisID] [int] IDENTITY(1,1) NOT NULL,
	[RestoranID] [int] NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[ToplamTutar] [decimal](18, 2) NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[TeslimatAdresi] [nvarchar](250) NOT NULL,
	[Tarih] [datetime2](7) NOT NULL,
	[TakipKodu] [nvarchar](20) NOT NULL,
	[Durum] [int] NOT NULL,
 CONSTRAINT [PK_Siparis] PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiparisDetaylari]    Script Date: 27.12.2025 11:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiparisDetaylari](
	[SiparisDetayID] [int] IDENTITY(1,1) NOT NULL,
	[SiparisID] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
	[Adet] [int] NOT NULL,
	[Fiyat] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_SiparisDetaylari] PRIMARY KEY CLUSTERED 
(
	[SiparisDetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunKategoriler]    Script Date: 27.12.2025 11:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunKategoriler](
	[UrunKategoriID] [int] IDENTITY(1,1) NOT NULL,
	[UrunKategoriAd] [nvarchar](100) NOT NULL,
	[SiraNo] [int] NOT NULL,
 CONSTRAINT [PK_UrunKategoriler] PRIMARY KEY CLUSTERED 
(
	[UrunKategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 27.12.2025 11:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunId] [int] IDENTITY(1,1) NOT NULL,
	[UrunAd] [nvarchar](150) NOT NULL,
	[Aciklama] [nvarchar](250) NULL,
	[Fiyat] [decimal](18, 2) NOT NULL,
	[Stok] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[FotoUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RestoranID] [int] NOT NULL,
	[UrunKategoriID] [int] NOT NULL,
 CONSTRAINT [PK_Urunler] PRIMARY KEY CLUSTERED 
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yorumlar]    Script Date: 27.12.2025 11:06:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorumlar](
	[YorumID] [int] IDENTITY(1,1) NOT NULL,
	[RestoranID] [int] NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[UrunID] [int] NULL,
	[YorumMetni] [nvarchar](500) NOT NULL,
	[Puan] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[SiparisID] [int] NOT NULL,
 CONSTRAINT [PK_Yorumlar] PRIMARY KEY CLUSTERED 
(
	[YorumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FavoriRestoranlar] ON 

INSERT [dbo].[FavoriRestoranlar] ([FavoriID], [KullaniciID], [RestoranID], [CreatedAt]) VALUES (11, 26, 27, CAST(N'2025-12-19T00:30:56.1433333' AS DateTime2))
INSERT [dbo].[FavoriRestoranlar] ([FavoriID], [KullaniciID], [RestoranID], [CreatedAt]) VALUES (12, 26, 20, CAST(N'2025-12-20T14:30:33.9733333' AS DateTime2))
INSERT [dbo].[FavoriRestoranlar] ([FavoriID], [KullaniciID], [RestoranID], [CreatedAt]) VALUES (16, 2, 15, CAST(N'2025-12-21T02:23:00.7800000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[FavoriRestoranlar] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAd], [KategoriResimUrl]) VALUES (2, N'Kahve', N'/img/kahve.jpg')
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAd], [KategoriResimUrl]) VALUES (4, N'Tatlı', N'/img/tatli.jpg')
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAd], [KategoriResimUrl]) VALUES (5, N'Burger', N'/img/burger.jpg')
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([KullaniciID], [Ad], [Soyad], [Email], [Sifre], [Adres], [Telefon], [CreatedAt], [IsActive], [RolID]) VALUES (2, N'ayşenur', N'bayramoglu', N'aysenurB53@gmail.com', N'123456', N'Kyk kız yurtları', N'05398275353', CAST(N'2025-11-30T12:31:46.1031029' AS DateTime2), 1, 3)
INSERT [dbo].[Kullanicilar] ([KullaniciID], [Ad], [Soyad], [Email], [Sifre], [Adres], [Telefon], [CreatedAt], [IsActive], [RolID]) VALUES (3, N'fatih', N'bayramoglu', N'fatihB5@gmail.com', N'123456', NULL, NULL, CAST(N'2025-11-30T14:43:29.7316002' AS DateTime2), 1, 3)
INSERT [dbo].[Kullanicilar] ([KullaniciID], [Ad], [Soyad], [Email], [Sifre], [Adres], [Telefon], [CreatedAt], [IsActive], [RolID]) VALUES (7, N'Yağmur', N'Usta', N'YagmurUsta28@gmail.com', N'123456', NULL, NULL, CAST(N'2025-11-30T19:09:55.9323624' AS DateTime2), 1, 3)
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Restoran] ON 

INSERT [dbo].[Restoran] ([RestoranID], [KategoriID], [KullaniciID], [RestoranAd], [Adres], [Telefon], [OnayliMi], [Puan], [AktifMi], [CreatedAt], [RestoranResimUrl], [MinSiparisTutar], [OrtalamaSure]) VALUES (9, 2, 14, N'Kahve Dünyası', N'Cadde', N'0 5362584656', 1, CAST(4.00 AS Decimal(3, 2)), 1, CAST(N'2025-12-02T22:49:36.0811448' AS DateTime2), N'/img/KahveDunyasi.jpg', CAST(26.99 AS Decimal(18, 2)), 55)
INSERT [dbo].[Restoran] ([RestoranID], [KategoriID], [KullaniciID], [RestoranAd], [Adres], [Telefon], [OnayliMi], [Puan], [AktifMi], [CreatedAt], [RestoranResimUrl], [MinSiparisTutar], [OrtalamaSure]) VALUES (13, 5, 15, N'Burger King', N'Merkez Cadde', N'05551112233', 1, CAST(4.00 AS Decimal(3, 2)), 1, CAST(N'2025-12-07T14:43:08.2600000' AS DateTime2), N'/img/BurgerKing.jpg', CAST(279.99 AS Decimal(18, 2)), 30)
INSERT [dbo].[Restoran] ([RestoranID], [KategoriID], [KullaniciID], [RestoranAd], [Adres], [Telefon], [OnayliMi], [Puan], [AktifMi], [CreatedAt], [RestoranResimUrl], [MinSiparisTutar], [OrtalamaSure]) VALUES (14, 6, 16, N'Tavuk Dünyasi', N'Sanayi Mahallesi', N'05552223344', 1, CAST(4.50 AS Decimal(3, 2)), 1, CAST(N'2025-12-07T14:43:08.2600000' AS DateTime2), N'/img/tavukDünyasi.jpeg', CAST(26.99 AS Decimal(18, 2)), 65)
SET IDENTITY_INSERT [dbo].[Restoran] OFF
GO
SET IDENTITY_INSERT [dbo].[Roller] ON 

INSERT [dbo].[Roller] ([RolID], [RolAd]) VALUES (1, N'Admin')
INSERT [dbo].[Roller] ([RolID], [RolAd]) VALUES (2, N'RestoranSahibi')
INSERT [dbo].[Roller] ([RolID], [RolAd]) VALUES (3, N'Musteri')
SET IDENTITY_INSERT [dbo].[Roller] OFF
GO
SET IDENTITY_INSERT [dbo].[Siparis] ON 

INSERT [dbo].[Siparis] ([SiparisID], [RestoranID], [KullaniciID], [ToplamTutar], [AktifMi], [TeslimatAdresi], [Tarih], [TakipKodu], [Durum]) VALUES (1, 13, 2, CAST(585.00 AS Decimal(18, 2)), 1, N'Adres bilgisi alınacak...', CAST(N'2025-12-13T12:10:54.1312240' AS DateTime2), N'24EA416C', 3)
INSERT [dbo].[Siparis] ([SiparisID], [RestoranID], [KullaniciID], [ToplamTutar], [AktifMi], [TeslimatAdresi], [Tarih], [TakipKodu], [Durum]) VALUES (2, 21, 2, CAST(250.00 AS Decimal(18, 2)), 1, N'Rize/Ardeşen Atatürk mahallesi', CAST(N'2025-12-13T13:22:41.7039168' AS DateTime2), N'D7FB355F', 1)
INSERT [dbo].[Siparis] ([SiparisID], [RestoranID], [KullaniciID], [ToplamTutar], [AktifMi], [TeslimatAdresi], [Tarih], [TakipKodu], [Durum]) VALUES (3, 13, 3, CAST(180.00 AS Decimal(18, 2)), 1, N'Ardeşen fırtına Mahallesi', CAST(N'2025-12-13T14:05:24.3270755' AS DateTime2), N'1609D9B9', 3)
SET IDENTITY_INSERT [dbo].[Siparis] OFF
GO
SET IDENTITY_INSERT [dbo].[SiparisDetaylari] ON 

INSERT [dbo].[SiparisDetaylari] ([SiparisDetayID], [SiparisID], [UrunID], [Adet], [Fiyat]) VALUES (1, 3, 46, 1, CAST(180.00 AS Decimal(18, 2)))
INSERT [dbo].[SiparisDetaylari] ([SiparisDetayID], [SiparisID], [UrunID], [Adet], [Fiyat]) VALUES (2, 4, 92, 1, CAST(200.00 AS Decimal(18, 2)))
INSERT [dbo].[SiparisDetaylari] ([SiparisDetayID], [SiparisID], [UrunID], [Adet], [Fiyat]) VALUES (3, 4, 96, 1, CAST(355.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[SiparisDetaylari] OFF
GO
SET IDENTITY_INSERT [dbo].[UrunKategoriler] ON 

INSERT [dbo].[UrunKategoriler] ([UrunKategoriID], [UrunKategoriAd], [SiraNo]) VALUES (7, N'Sicak Içecekler', 1)
INSERT [dbo].[UrunKategoriler] ([UrunKategoriID], [UrunKategoriAd], [SiraNo]) VALUES (8, N'Türk Kahveleri', 2)
INSERT [dbo].[UrunKategoriler] ([UrunKategoriID], [UrunKategoriAd], [SiraNo]) VALUES (9, N'Fast-Food Menüler', 1)
SET IDENTITY_INSERT [dbo].[UrunKategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Urunler] ON 

INSERT [dbo].[Urunler] ([UrunId], [UrunAd], [Aciklama], [Fiyat], [Stok], [AktifMi], [FotoUrl], [CreatedAt], [RestoranID], [UrunKategoriID]) VALUES (43, N'Latte', N'Sütlü sicak kahve.', CAST(95.00 AS Decimal(18, 2)), 16, 1, N'/img/urunler/SicakKahve.jpeg', CAST(N'2025-12-13T16:03:44.0000000' AS DateTime2), 9, 7)
INSERT [dbo].[Urunler] ([UrunId], [UrunAd], [Aciklama], [Fiyat], [Stok], [AktifMi], [FotoUrl], [CreatedAt], [RestoranID], [UrunKategoriID]) VALUES (44, N'Mocha', N'Çikolatali sicak kahve', CAST(80.00 AS Decimal(18, 2)), 4, 1, N'/img/urunler/SicakKahve.jpeg', CAST(N'2025-12-13T15:25:33.8522307' AS DateTime2), 9, 7)
INSERT [dbo].[Urunler] ([UrunId], [UrunAd], [Aciklama], [Fiyat], [Stok], [AktifMi], [FotoUrl], [CreatedAt], [RestoranID], [UrunKategoriID]) VALUES (45, N'Türk Kahvesi', N'Klasik bol köpüklü Türk kahvesi', CAST(60.00 AS Decimal(18, 2)), 15, 1, N'/img/urunler/TürkKahvesi.jpeg', CAST(N'2025-12-13T17:18:20.0518621' AS DateTime2), 9, 8)
SET IDENTITY_INSERT [dbo].[Urunler] OFF
GO
SET IDENTITY_INSERT [dbo].[Yorumlar] ON 

INSERT [dbo].[Yorumlar] ([YorumID], [RestoranID], [KullaniciID], [UrunID], [YorumMetni], [Puan], [CreatedAt], [AktifMi], [SiparisID]) VALUES (1, 13, 2, NULL, N'Güzeldi ve sıcak geldi', 4, CAST(N'2025-12-21T01:59:36.8866667' AS DateTime2), 1, 30)
INSERT [dbo].[Yorumlar] ([YorumID], [RestoranID], [KullaniciID], [UrunID], [YorumMetni], [Puan], [CreatedAt], [AktifMi], [SiparisID]) VALUES (2, 9, 3, NULL, N'Sıcak ve tam istediğim kıvamdaydı', 4, CAST(N'2025-12-23T23:56:45.8533333' AS DateTime2), 1, 11)
INSERT [dbo].[Yorumlar] ([YorumID], [RestoranID], [KullaniciID], [UrunID], [YorumMetni], [Puan], [CreatedAt], [AktifMi], [SiparisID]) VALUES (4, 14, 9, NULL, N'Yemekler sicak ve lezzetliydi, tesekkürler.', 5, CAST(N'2025-12-25T02:28:57.9700000' AS DateTime2), 1, 33)
SET IDENTITY_INSERT [dbo].[Yorumlar] OFF
GO
/****** Object:  Index [IX_FavoriRestoranlar_KullaniciID_RestoranID]    Script Date: 27.12.2025 11:06:34 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_FavoriRestoranlar_KullaniciID_RestoranID] ON [dbo].[FavoriRestoranlar]
(
	[KullaniciID] ASC,
	[RestoranID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FavoriRestoranlar_RestoranID]    Script Date: 27.12.2025 11:06:34 ******/
CREATE NONCLUSTERED INDEX [IX_FavoriRestoranlar_RestoranID] ON [dbo].[FavoriRestoranlar]
(
	[RestoranID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kullanicilar_RolID]    Script Date: 27.12.2025 11:06:34 ******/
CREATE NONCLUSTERED INDEX [IX_Kullanicilar_RolID] ON [dbo].[Kullanicilar]
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Restoran_KategoriID]    Script Date: 27.12.2025 11:06:34 ******/
CREATE NONCLUSTERED INDEX [IX_Restoran_KategoriID] ON [dbo].[Restoran]
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Restoran_KullaniciID]    Script Date: 27.12.2025 11:06:34 ******/
CREATE NONCLUSTERED INDEX [IX_Restoran_KullaniciID] ON [dbo].[Restoran]
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Siparis_KullaniciID]    Script Date: 27.12.2025 11:06:34 ******/
CREATE NONCLUSTERED INDEX [IX_Siparis_KullaniciID] ON [dbo].[Siparis]
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Siparis_RestoranID]    Script Date: 27.12.2025 11:06:34 ******/
CREATE NONCLUSTERED INDEX [IX_Siparis_RestoranID] ON [dbo].[Siparis]
(
	[RestoranID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SiparisDetaylari_SiparisID]    Script Date: 27.12.2025 11:06:34 ******/
CREATE NONCLUSTERED INDEX [IX_SiparisDetaylari_SiparisID] ON [dbo].[SiparisDetaylari]
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SiparisDetaylari_UrunID]    Script Date: 27.12.2025 11:06:34 ******/
CREATE NONCLUSTERED INDEX [IX_SiparisDetaylari_UrunID] ON [dbo].[SiparisDetaylari]
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Urunler_RestoranID]    Script Date: 27.12.2025 11:06:34 ******/
CREATE NONCLUSTERED INDEX [IX_Urunler_RestoranID] ON [dbo].[Urunler]
(
	[RestoranID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Urunler_UrunKategoriID]    Script Date: 27.12.2025 11:06:34 ******/
CREATE NONCLUSTERED INDEX [IX_Urunler_UrunKategoriID] ON [dbo].[Urunler]
(
	[UrunKategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Yorumlar_KullaniciID]    Script Date: 27.12.2025 11:06:34 ******/
CREATE NONCLUSTERED INDEX [IX_Yorumlar_KullaniciID] ON [dbo].[Yorumlar]
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Yorumlar_RestoranID]    Script Date: 27.12.2025 11:06:34 ******/
CREATE NONCLUSTERED INDEX [IX_Yorumlar_RestoranID] ON [dbo].[Yorumlar]
(
	[RestoranID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Yorumlar_UrunID]    Script Date: 27.12.2025 11:06:34 ******/
CREATE NONCLUSTERED INDEX [IX_Yorumlar_UrunID] ON [dbo].[Yorumlar]
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Restoran] ADD  DEFAULT ((0.0)) FOR [MinSiparisTutar]
GO
ALTER TABLE [dbo].[Restoran] ADD  DEFAULT ((0)) FOR [OrtalamaSure]
GO
ALTER TABLE [dbo].[UrunKategoriler] ADD  DEFAULT ((0)) FOR [SiraNo]
GO
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((0)) FOR [UrunKategoriID]
GO
ALTER TABLE [dbo].[FavoriRestoranlar]  WITH CHECK ADD  CONSTRAINT [FK_FavoriRestoranlar_Kullanicilar_KullaniciID] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[FavoriRestoranlar] CHECK CONSTRAINT [FK_FavoriRestoranlar_Kullanicilar_KullaniciID]
GO
ALTER TABLE [dbo].[FavoriRestoranlar]  WITH CHECK ADD  CONSTRAINT [FK_FavoriRestoranlar_Restoran_RestoranID] FOREIGN KEY([RestoranID])
REFERENCES [dbo].[Restoran] ([RestoranID])
GO
ALTER TABLE [dbo].[FavoriRestoranlar] CHECK CONSTRAINT [FK_FavoriRestoranlar_Restoran_RestoranID]
GO
ALTER TABLE [dbo].[Kullanicilar]  WITH CHECK ADD  CONSTRAINT [FK_Kullanicilar_Roller_RolID] FOREIGN KEY([RolID])
REFERENCES [dbo].[Roller] ([RolID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kullanicilar] CHECK CONSTRAINT [FK_Kullanicilar_Roller_RolID]
GO
ALTER TABLE [dbo].[Restoran]  WITH CHECK ADD  CONSTRAINT [FK_Restoran_Kategoriler_KategoriID] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Restoran] CHECK CONSTRAINT [FK_Restoran_Kategoriler_KategoriID]
GO
ALTER TABLE [dbo].[Restoran]  WITH CHECK ADD  CONSTRAINT [FK_Restoran_Kullanicilar_KullaniciID] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Restoran] CHECK CONSTRAINT [FK_Restoran_Kullanicilar_KullaniciID]
GO
ALTER TABLE [dbo].[Siparis]  WITH CHECK ADD  CONSTRAINT [FK_Siparis_Kullanicilar_KullaniciID] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Siparis] CHECK CONSTRAINT [FK_Siparis_Kullanicilar_KullaniciID]
GO
ALTER TABLE [dbo].[Siparis]  WITH CHECK ADD  CONSTRAINT [FK_Siparis_Restoran_RestoranID] FOREIGN KEY([RestoranID])
REFERENCES [dbo].[Restoran] ([RestoranID])
GO
ALTER TABLE [dbo].[Siparis] CHECK CONSTRAINT [FK_Siparis_Restoran_RestoranID]
GO
ALTER TABLE [dbo].[SiparisDetaylari]  WITH CHECK ADD  CONSTRAINT [FK_SiparisDetaylari_Siparis_SiparisID] FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparis] ([SiparisID])
GO
ALTER TABLE [dbo].[SiparisDetaylari] CHECK CONSTRAINT [FK_SiparisDetaylari_Siparis_SiparisID]
GO
ALTER TABLE [dbo].[SiparisDetaylari]  WITH CHECK ADD  CONSTRAINT [FK_SiparisDetaylari_Urunler_UrunID] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunId])
GO
ALTER TABLE [dbo].[SiparisDetaylari] CHECK CONSTRAINT [FK_SiparisDetaylari_Urunler_UrunID]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_Restoran_RestoranID] FOREIGN KEY([RestoranID])
REFERENCES [dbo].[Restoran] ([RestoranID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_Restoran_RestoranID]
GO
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_UrunKategoriler_UrunKategoriID] FOREIGN KEY([UrunKategoriID])
REFERENCES [dbo].[UrunKategoriler] ([UrunKategoriID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_UrunKategoriler_UrunKategoriID]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_Yorumlar_Kullanicilar_KullaniciID] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_Yorumlar_Kullanicilar_KullaniciID]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_Yorumlar_Restoran_RestoranID] FOREIGN KEY([RestoranID])
REFERENCES [dbo].[Restoran] ([RestoranID])
GO
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_Yorumlar_Restoran_RestoranID]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_Yorumlar_Siparis] FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparis] ([SiparisID])
GO
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_Yorumlar_Siparis]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_Yorumlar_Urunler_UrunID] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunId])
GO
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_Yorumlar_Urunler_UrunID]
GO
