/****** Cannot script Unresolved Entities : Server[@Name='DESKTOP-T57N82O\LOCALDB#4C66A4F4']/Database[@Name='YemekSepetiProje']/UnresolvedEntity[@Name='deleted'] ******/
GO
/****** Cannot script Unresolved Entities : Server[@Name='DESKTOP-T57N82O\LOCALDB#4C66A4F4']/Database[@Name='YemekSepetiProje']/UnresolvedEntity[@Name='inserted'] ******/
GO
USE [YemekSepetiProje]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_RestoranOrtalamaPuan]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[fn_RestoranOrtalamaPuan]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'CREATE FUNCTION [dbo].[fn_RestoranOrtalamaPuan] (@RestoranID INT)
RETURNS DECIMAL(3,2) -- 1-5 arası puan için (3,2) mükemmel yeterli.
AS
BEGIN
    DECLARE @Ortalama DECIMAL(3,2);

    -- Tablodaki ''AktifMi'' sütununu kullandım
    SELECT @Ortalama = AVG(CAST(Puan AS DECIMAL(3,2)))
    FROM Yorumlar
    WHERE RestoranID = @RestoranID 
      AND AktifMi = 1; 
    
    RETURN ISNULL(@Ortalama, 0);
END;
' 
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_RestoranTeslimSiparisSayisi]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[fn_RestoranTeslimSiparisSayisi]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'CREATE FUNCTION [dbo].[fn_RestoranTeslimSiparisSayisi] (@RestoranID INT)
RETURNS INT
AS
BEGIN
    RETURN (
        SELECT ISNULL(COUNT(*), 0)
        FROM Siparis
        WHERE RestoranID = @RestoranID
          AND Durum = 3
    );
END' 
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_RestoranToplamKazanc]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[fn_RestoranToplamKazanc]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'CREATE FUNCTION [dbo].[fn_RestoranToplamKazanc] (@RestoranID INT)
RETURNS DECIMAL(18,2)
AS
BEGIN
    RETURN (
        SELECT ISNULL(SUM(ToplamTutar), 0)
        FROM Siparis
        WHERE RestoranID = @RestoranID
          AND Durum = 3
    );
END' 
END
GO
/****** Object:  Table [dbo].[Siparis]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Siparis]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Siparis](
	[SiparisID] [int] IDENTITY(1,1) NOT NULL,
	[RestoranID] [int] NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[ToplamTutar] [decimal](18, 2) NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[TeslimatAdresi] [nvarchar](250) NOT NULL,
	[Tarih] [datetime2](7) NOT NULL,
	[TakipKodu] [nvarchar](20) NOT NULL,
	[Durum] [int] NOT NULL,
 CONSTRAINT [PK_Siparis] PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Urunler]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Urunler](
	[UrunId] [int] IDENTITY(1,1) NOT NULL,
	[UrunAd] [nvarchar](150) NOT NULL,
	[Aciklama] [nvarchar](250) NULL,
	[Fiyat] [decimal](18, 2) NOT NULL,
	[Stok] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[FotoUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RestoranID] [int] NOT NULL,
	[UrunKategoriID] [int] NOT NULL,
 CONSTRAINT [PK_Urunler] PRIMARY KEY CLUSTERED 
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[SiparisDetaylari]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SiparisDetaylari]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SiparisDetaylari](
	[SiparisDetayID] [int] IDENTITY(1,1) NOT NULL,
	[SiparisID] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
	[Adet] [int] NOT NULL,
	[Fiyat] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_SiparisDetaylari] PRIMARY KEY CLUSTERED 
(
	[SiparisDetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  View [dbo].[vw_RestoranUrunSatisOzeti]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vw_RestoranUrunSatisOzeti]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[vw_RestoranUrunSatisOzeti] AS
SELECT 
    U.RestoranID,
    U.UrunId,
    U.UrunAd,
    COUNT(DISTINCT SD.SiparisID) AS SiparisFrekansi,   -- kaç farklı siparişte geçti
    SUM(SD.Adet) AS ToplamSatilanAdet,                 -- toplam satılan adet
    SUM(SD.Adet * SD.Fiyat) AS UrunBazliKazanc         -- ürün bazlı ciro
FROM Urunler U
JOIN SiparisDetaylari SD ON U.UrunId = SD.UrunID
JOIN Siparis S ON SD.SiparisID = S.SiparisID
WHERE S.Durum = 3   -- TeslimEdildi
GROUP BY 
    U.RestoranID, 
    U.UrunId,
    U.UrunAd;' 
GO
/****** Object:  Table [dbo].[UrunKategoriler]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UrunKategoriler]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UrunKategoriler](
	[UrunKategoriID] [int] IDENTITY(1,1) NOT NULL,
	[UrunKategoriAd] [nvarchar](100) NOT NULL,
	[SiraNo] [int] NOT NULL,
 CONSTRAINT [PK_UrunKategoriler] PRIMARY KEY CLUSTERED 
(
	[UrunKategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Kategoriler]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [nvarchar](100) NOT NULL,
	[KategoriResimUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Kategoriler] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Roller]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roller]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Roller](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[RolAd] [nvarchar](15) NULL,
 CONSTRAINT [PK_Roller] PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Kullanicilar]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](30) NOT NULL,
	[Soyad] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](500) NOT NULL,
	[Adres] [nvarchar](250) NULL,
	[Telefon] [nvarchar](15) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[RolID] [int] NOT NULL,
 CONSTRAINT [PK_Kullanicilar] PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Restoran]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Restoran]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Restoran](
	[RestoranID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriID] [int] NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[RestoranAd] [nvarchar](50) NOT NULL,
	[Adres] [nvarchar](250) NOT NULL,
	[Telefon] [nvarchar](20) NULL,
	[OnayliMi] [bit] NOT NULL,
	[Puan] [decimal](3, 2) NULL,
	[AktifMi] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RestoranResimUrl] [nvarchar](max) NULL,
	[MinSiparisTutar] [decimal](18, 2) NOT NULL,
	[OrtalamaSure] [int] NOT NULL,
 CONSTRAINT [PK_Restoran] PRIMARY KEY CLUSTERED 
(
	[RestoranID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Yorumlar]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Yorumlar]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Yorumlar](
	[YorumID] [int] IDENTITY(1,1) NOT NULL,
	[RestoranID] [int] NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[UrunID] [int] NULL,
	[YorumMetni] [nvarchar](500) NOT NULL,
	[Puan] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[SiparisID] [int] NOT NULL,
 CONSTRAINT [PK_Yorumlar] PRIMARY KEY CLUSTERED 
(
	[YorumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[FavoriRestoranlar]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FavoriRestoranlar]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FavoriRestoranlar](
	[FavoriID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[RestoranID] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_FavoriRestoranlar] PRIMARY KEY CLUSTERED 
(
	[FavoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__UrunKateg__SiraN__01142BA1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UrunKategoriler] ADD  DEFAULT ((0)) FOR [SiraNo]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Restoran__MinSip__6E01572D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Restoran] ADD  DEFAULT ((0.0)) FOR [MinSiparisTutar]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Restoran__Ortala__6EF57B66]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Restoran] ADD  DEFAULT ((0)) FOR [OrtalamaSure]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Urunler__UrunKat__5AEE82B9]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Urunler] ADD  DEFAULT ((0)) FOR [UrunKategoriID]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Kullanicilar_Roller_RolID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Kullanicilar]'))
ALTER TABLE [dbo].[Kullanicilar]  WITH CHECK ADD  CONSTRAINT [FK_Kullanicilar_Roller_RolID] FOREIGN KEY([RolID])
REFERENCES [dbo].[Roller] ([RolID])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Kullanicilar_Roller_RolID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Kullanicilar]'))
ALTER TABLE [dbo].[Kullanicilar] CHECK CONSTRAINT [FK_Kullanicilar_Roller_RolID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Restoran_Kategoriler_KategoriID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Restoran]'))
ALTER TABLE [dbo].[Restoran]  WITH CHECK ADD  CONSTRAINT [FK_Restoran_Kategoriler_KategoriID] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Restoran_Kategoriler_KategoriID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Restoran]'))
ALTER TABLE [dbo].[Restoran] CHECK CONSTRAINT [FK_Restoran_Kategoriler_KategoriID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Restoran_Kullanicilar_KullaniciID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Restoran]'))
ALTER TABLE [dbo].[Restoran]  WITH CHECK ADD  CONSTRAINT [FK_Restoran_Kullanicilar_KullaniciID] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Restoran_Kullanicilar_KullaniciID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Restoran]'))
ALTER TABLE [dbo].[Restoran] CHECK CONSTRAINT [FK_Restoran_Kullanicilar_KullaniciID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Urunler_Restoran_RestoranID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Urunler]'))
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_Restoran_RestoranID] FOREIGN KEY([RestoranID])
REFERENCES [dbo].[Restoran] ([RestoranID])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Urunler_Restoran_RestoranID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Urunler]'))
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_Restoran_RestoranID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Urunler_UrunKategoriler_UrunKategoriID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Urunler]'))
ALTER TABLE [dbo].[Urunler]  WITH CHECK ADD  CONSTRAINT [FK_Urunler_UrunKategoriler_UrunKategoriID] FOREIGN KEY([UrunKategoriID])
REFERENCES [dbo].[UrunKategoriler] ([UrunKategoriID])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Urunler_UrunKategoriler_UrunKategoriID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Urunler]'))
ALTER TABLE [dbo].[Urunler] CHECK CONSTRAINT [FK_Urunler_UrunKategoriler_UrunKategoriID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Yorumlar_Kullanicilar_KullaniciID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Yorumlar]'))
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_Yorumlar_Kullanicilar_KullaniciID] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Yorumlar_Kullanicilar_KullaniciID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Yorumlar]'))
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_Yorumlar_Kullanicilar_KullaniciID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Yorumlar_Restoran_RestoranID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Yorumlar]'))
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_Yorumlar_Restoran_RestoranID] FOREIGN KEY([RestoranID])
REFERENCES [dbo].[Restoran] ([RestoranID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Yorumlar_Restoran_RestoranID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Yorumlar]'))
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_Yorumlar_Restoran_RestoranID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Yorumlar_Siparis]') AND parent_object_id = OBJECT_ID(N'[dbo].[Yorumlar]'))
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_Yorumlar_Siparis] FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparis] ([SiparisID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Yorumlar_Siparis]') AND parent_object_id = OBJECT_ID(N'[dbo].[Yorumlar]'))
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_Yorumlar_Siparis]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Yorumlar_Urunler_UrunID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Yorumlar]'))
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_Yorumlar_Urunler_UrunID] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Yorumlar_Urunler_UrunID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Yorumlar]'))
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_Yorumlar_Urunler_UrunID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Siparis_Kullanicilar_KullaniciID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Siparis]'))
ALTER TABLE [dbo].[Siparis]  WITH CHECK ADD  CONSTRAINT [FK_Siparis_Kullanicilar_KullaniciID] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Siparis_Kullanicilar_KullaniciID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Siparis]'))
ALTER TABLE [dbo].[Siparis] CHECK CONSTRAINT [FK_Siparis_Kullanicilar_KullaniciID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Siparis_Restoran_RestoranID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Siparis]'))
ALTER TABLE [dbo].[Siparis]  WITH CHECK ADD  CONSTRAINT [FK_Siparis_Restoran_RestoranID] FOREIGN KEY([RestoranID])
REFERENCES [dbo].[Restoran] ([RestoranID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Siparis_Restoran_RestoranID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Siparis]'))
ALTER TABLE [dbo].[Siparis] CHECK CONSTRAINT [FK_Siparis_Restoran_RestoranID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FavoriRestoranlar_Kullanicilar_KullaniciID]') AND parent_object_id = OBJECT_ID(N'[dbo].[FavoriRestoranlar]'))
ALTER TABLE [dbo].[FavoriRestoranlar]  WITH CHECK ADD  CONSTRAINT [FK_FavoriRestoranlar_Kullanicilar_KullaniciID] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FavoriRestoranlar_Kullanicilar_KullaniciID]') AND parent_object_id = OBJECT_ID(N'[dbo].[FavoriRestoranlar]'))
ALTER TABLE [dbo].[FavoriRestoranlar] CHECK CONSTRAINT [FK_FavoriRestoranlar_Kullanicilar_KullaniciID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FavoriRestoranlar_Restoran_RestoranID]') AND parent_object_id = OBJECT_ID(N'[dbo].[FavoriRestoranlar]'))
ALTER TABLE [dbo].[FavoriRestoranlar]  WITH CHECK ADD  CONSTRAINT [FK_FavoriRestoranlar_Restoran_RestoranID] FOREIGN KEY([RestoranID])
REFERENCES [dbo].[Restoran] ([RestoranID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FavoriRestoranlar_Restoran_RestoranID]') AND parent_object_id = OBJECT_ID(N'[dbo].[FavoriRestoranlar]'))
ALTER TABLE [dbo].[FavoriRestoranlar] CHECK CONSTRAINT [FK_FavoriRestoranlar_Restoran_RestoranID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SiparisDetaylari_Siparis_SiparisID]') AND parent_object_id = OBJECT_ID(N'[dbo].[SiparisDetaylari]'))
ALTER TABLE [dbo].[SiparisDetaylari]  WITH CHECK ADD  CONSTRAINT [FK_SiparisDetaylari_Siparis_SiparisID] FOREIGN KEY([SiparisID])
REFERENCES [dbo].[Siparis] ([SiparisID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SiparisDetaylari_Siparis_SiparisID]') AND parent_object_id = OBJECT_ID(N'[dbo].[SiparisDetaylari]'))
ALTER TABLE [dbo].[SiparisDetaylari] CHECK CONSTRAINT [FK_SiparisDetaylari_Siparis_SiparisID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SiparisDetaylari_Urunler_UrunID]') AND parent_object_id = OBJECT_ID(N'[dbo].[SiparisDetaylari]'))
ALTER TABLE [dbo].[SiparisDetaylari]  WITH CHECK ADD  CONSTRAINT [FK_SiparisDetaylari_Urunler_UrunID] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunler] ([UrunId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SiparisDetaylari_Urunler_UrunID]') AND parent_object_id = OBJECT_ID(N'[dbo].[SiparisDetaylari]'))
ALTER TABLE [dbo].[SiparisDetaylari] CHECK CONSTRAINT [FK_SiparisDetaylari_Urunler_UrunID]
GO
/****** Object:  StoredProcedure [dbo].[up_Arama]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[up_Arama]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[up_Arama] AS' 
END
GO
ALTER PROCEDURE [dbo].[up_Arama]
    @text NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DISTINCT 
        r.RestoranID,
        r.RestoranAd,
        r.RestoranResimUrl,
        r.AktifMi
    FROM Restoran r
    LEFT JOIN Urunler u ON u.RestoranID = r.RestoranID
    WHERE (r.RestoranAd LIKE '%' + @text + '%' OR u.UrunAd LIKE '%' + @text + '%')
      AND r.AktifMi = 1 -- Sadece aktif olanlar gelsin
END
GO
/****** Object:  StoredProcedure [dbo].[up_FavoriRestoranEkle]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[up_FavoriRestoranEkle]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[up_FavoriRestoranEkle] AS' 
END
GO
ALTER PROCEDURE [dbo].[up_FavoriRestoranEkle]
    @KullaniciID INT,
    @RestoranID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Eğer kullanıcı zaten aynı restoranı favoriye eklemişse tekrar eklenmesin
    IF EXISTS (SELECT 1 FROM FavoriRestoranlar 
               WHERE KullaniciID = @KullaniciID 
                 AND RestoranID = @RestoranID)
    BEGIN
        RETURN;  -- hiçbir işlem yapmadan çık
    END;

    INSERT INTO FavoriRestoranlar (KullaniciID, RestoranID, CreatedAt)
    VALUES (@KullaniciID, @RestoranID, GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[up_FavoriRestoranlariGetir]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[up_FavoriRestoranlariGetir]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[up_FavoriRestoranlariGetir] AS' 
END
GO
ALTER PROCEDURE [dbo].[up_FavoriRestoranlariGetir]
    @KullaniciID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT R.*
    FROM FavoriRestoranlar FR
    JOIN Restoran R ON R.RestoranID = FR.RestoranID
    WHERE FR.KullaniciID = @KullaniciID;
END;
GO
/****** Object:  StoredProcedure [dbo].[up_FavoriRestoranSil]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[up_FavoriRestoranSil]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[up_FavoriRestoranSil] AS' 
END
GO
ALTER PROCEDURE [dbo].[up_FavoriRestoranSil]
    @KullaniciID INT,
    @RestoranID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM FavoriRestoranlar
    WHERE KullaniciID = @KullaniciID
      AND RestoranID = @RestoranID;
END;
GO
/****** Object:  StoredProcedure [dbo].[up_KullaniciSiparisGecmisi]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[up_KullaniciSiparisGecmisi]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[up_KullaniciSiparisGecmisi] AS' 
END
GO
ALTER PROCEDURE [dbo].[up_KullaniciSiparisGecmisi]
    @KullaniciID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.SiparisID,
        s.Tarih,
        s.Durum,
        s.ToplamTutar,
        s.TakipKodu,
        s.TeslimatAdresi,
        COUNT(sd.SiparisDetayID) AS UrunCesidiSayisi
    FROM Siparis s
    LEFT JOIN SiparisDetaylari sd 
        ON sd.SiparisID = s.SiparisID
    WHERE s.KullaniciID = @KullaniciID
    GROUP BY 
        s.SiparisID,
        s.Tarih,
        s.Durum,
        s.ToplamTutar,
        s.TakipKodu,
        s.TeslimatAdresi
    ORDER BY s.Tarih DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[up_SiparisDetayGetir]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[up_SiparisDetayGetir]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[up_SiparisDetayGetir] AS' 
END
GO
ALTER PROCEDURE [dbo].[up_SiparisDetayGetir]
    @SiparisID INT
AS
BEGIN
    SELECT
        u.UrunAd,
        sd.Adet,
        sd.Fiyat,
        (sd.Adet * sd.Fiyat) AS SatirToplam
    FROM SiparisDetaylari sd
    INNER JOIN Urunler u ON u.UrunID = sd.UrunID
    WHERE sd.SiparisID = @SiparisID;
END;
GO
/****** Object:  StoredProcedure [dbo].[up_UrunleriRestoranaGoreGetir]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[up_UrunleriRestoranaGoreGetir]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[up_UrunleriRestoranaGoreGetir] AS' 
END
GO
ALTER PROC [dbo].[up_UrunleriRestoranaGoreGetir]
    @RestoranID INT
AS
BEGIN
    SET NOCOUNT ON;--gereksiz rowcount mesajları gelmesin

    SELECT 
        U.UrunId,
        U.UrunAd,
        U.Aciklama,
        U.Fiyat,
        U.Stok,
        U.AktifMi,
        U.CreatedAt,
        U.RestoranID,
        U.UrunKategoriID,
        U.FotoUrl
    FROM Urunler AS U
    WHERE 
        U.RestoranID = @RestoranID
        AND U.AktifMi = 1
    ORDER BY 
        U.UrunKategoriID, 
        U.UrunAd;
END
GO
/****** Object:  StoredProcedure [dbo].[up_YorumEkle]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[up_YorumEkle]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[up_YorumEkle] AS' 
END
GO
ALTER PROCEDURE [dbo].[up_YorumEkle]
    @KullaniciID INT,
    @RestoranID INT,
    @SiparisID INT,
    @YorumMetni NVARCHAR(500),
    @Puan INT
AS
BEGIN
    SET NOCOUNT ON;

    
    IF (@Puan < 1 OR @Puan > 5)
    BEGIN
        RAISERROR ('Puan 1 ile 5 arasında olmalıdır.', 16, 1);
        RETURN;
    END

    --  Sipariş gerçekten bu kullanıcıya ve bu restorana mı ait?
    IF NOT EXISTS (
        SELECT 1 
        FROM Siparis
        WHERE SiparisID = @SiparisID
          AND KullaniciID = @KullaniciID
          AND RestoranID = @RestoranID
    )
    BEGIN
        RAISERROR ('Bu sipariş size ait değil veya bu restorana ait değil.', 16, 1);
        RETURN;
    END

    --  Aynı siparişe daha önce yorum yapılmış mı?
    IF EXISTS (
        SELECT 1 FROM Yorumlar
        WHERE SiparisID = @SiparisID -- Sadece SiparisID kontrolü bile yeterli çünkü SiparisID unique bir siparişi temsil eder
          AND AktifMi = 1
    )
    BEGIN
        RAISERROR ('Bu sipariş için zaten yorum yapmışsınız.', 16, 1);
        RETURN;
    END

    -- ✅ 4️⃣ Her şey yolundaysa KAYIT İŞLEMİ
    INSERT INTO Yorumlar (KullaniciID, RestoranID, YorumMetni, Puan, CreatedAt, AktifMi,SiparisID)
    VALUES (@KullaniciID, @RestoranID, @YorumMetni, @Puan, GETDATE(), 1,@SiparisID);

    -- ✅ 5️⃣ Yeni oluşan YorumID'sini C# tarafına geri gönder
    SELECT SCOPE_IDENTITY() AS YorumID;
END
GO
/****** Object:  StoredProcedure [dbo].[up_YorumGuncelle]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[up_YorumGuncelle]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[up_YorumGuncelle] AS' 
END
GO
ALTER PROCEDURE [dbo].[up_YorumGuncelle]
(
    @KullaniciID INT,
    @SiparisID INT,
    @YeniYorum NVARCHAR(500),
    @YeniPuan INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Puan Kontrolü
    IF (@YeniPuan < 1 OR @YeniPuan > 5)
    BEGIN
        RAISERROR ('Puan 1 ile 5 arasında olmalıdır.', 16, 1);
        RETURN;
    END

    -- Bu kullanıcı gerçekten bu sipariş için yorum yapmış mı?
    IF NOT EXISTS(
        SELECT 1 
        FROM Yorumlar 
        WHERE SiparisID = @SiparisID
          AND KullaniciID = @KullaniciID
          AND AktifMi = 1
    )
    BEGIN
        RAISERROR ('Bu sipariş için yapılmış bir yorum bulunamadı.', 16, 1);
        RETURN;
    END

    -- GÜNCELLE
    UPDATE Yorumlar
    SET 
        YorumMetni = @YeniYorum,
        Puan = @YeniPuan,
        CreatedAt = GETDATE()  -- İstersen sabit bırakarak güncellemeyebiliriz
    WHERE SiparisID = @SiparisID
      AND KullaniciID = @KullaniciID
      AND AktifMi = 1;

    SELECT 'Yorum başarıyla güncellendi.' AS Mesaj;
END
GO
/****** Object:  Trigger [dbo].[tr_Urun_StokKontrol]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[tr_Urun_StokKontrol]'))
EXEC dbo.sp_executesql @statement = N'CREATE TRIGGER [dbo].[tr_Urun_StokKontrol]
ON [dbo].[Urunler]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    -- Sadece stoğu bitmiş ve hala aktif olan ürünleri bul ve pasif yap
    UPDATE u
    SET u.AktifMi = 0
    FROM Urunler u
    INNER JOIN inserted i ON u.UrunID = i.UrunID
    WHERE i.Stok <= 0 AND i.AktifMi = 1;
END;
' 
GO
ALTER TABLE [dbo].[Urunler] ENABLE TRIGGER [tr_Urun_StokKontrol]
GO
/****** Object:  Trigger [dbo].[trg_Yorum_Eklendi_PuanGuncelle]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[trg_Yorum_Eklendi_PuanGuncelle]'))
EXEC dbo.sp_executesql @statement = N'CREATE TRIGGER [dbo].[trg_Yorum_Eklendi_PuanGuncelle]
ON [dbo].[Yorumlar]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE R
    SET R.Puan = dbo.fn_RestoranOrtalamaPuan(R.RestoranID)
    FROM Restoran R
    INNER JOIN inserted i ON i.RestoranID = R.RestoranID;
END;' 
GO
ALTER TABLE [dbo].[Yorumlar] ENABLE TRIGGER [trg_Yorum_Eklendi_PuanGuncelle]
GO
/****** Object:  Trigger [dbo].[trg_Yorum_Silindi_PuanGuncelle]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[trg_Yorum_Silindi_PuanGuncelle]'))
EXEC dbo.sp_executesql @statement = N'CREATE TRIGGER [dbo].[trg_Yorum_Silindi_PuanGuncelle]
ON [dbo].[Yorumlar]
AFTER DELETE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE R
    SET R.Puan = dbo.fn_RestoranOrtalamaPuan(R.RestoranID)
    FROM Restoran R
    INNER JOIN deleted d ON d.RestoranID = R.RestoranID;
END;
' 
GO
ALTER TABLE [dbo].[Yorumlar] ENABLE TRIGGER [trg_Yorum_Silindi_PuanGuncelle]
GO
/****** Object:  Trigger [dbo].[tr_SiparisDetay_StokDus]    Script Date: 26.12.2025 23:41:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[tr_SiparisDetay_StokDus]'))
EXEC dbo.sp_executesql @statement = N'CREATE TRIGGER [dbo].[tr_SiparisDetay_StokDus]
ON [dbo].[SiparisDetaylari]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE u
    SET u.Stok = u.Stok - i.Adet
    FROM Urunler u
    INNER JOIN inserted i ON u.UrunID = i.UrunID;
END;
' 
GO
ALTER TABLE [dbo].[SiparisDetaylari] ENABLE TRIGGER [tr_SiparisDetay_StokDus]
GO
