@model List<YemekSepeti.Entities.Restoran>

<h2>@Model.Count restoran bulundu</h2>

<div class="row mt-4">

    @foreach (var r in Model)
    {
        <div class="col-md-4 mb-4">
             @await Html.PartialAsync("_RestoranKart", r)
        </div>
    }
</div>



